@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap');
/* Header css */

.fontloader {
  font-family: 'Nunito Sans', sans-serif;
}

.backgound-header {
  background-color: #0b98af;
  font-family: 'Nunito Sans', sans-serif;
  /* background-color: #1fa5ba; */
}

.bookingsite_header {
  width: 190px;
  height: 37px;
  border-radius: 10px;
  border: solid 1px #ffffff;
  display: inline-block;
  margin-top: 17px;
  /* margin-bottom: 17px; */
  color: #ffffff;
  padding-left: 32px;
  padding-top: 7px;
  margin-right: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

/* footer CSS */
.bookingsite_footer {
    border-radius: 10px;
    border: solid 1px #ffffff;
    display: inline-block;
    color: #ffffff;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

/* Home page css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
}

.image-container {
  float: left;
  height: 135px;
  width: 135px;
  margin-right: 30px;
  margin-top: 15px;
  font-family: 'Nunito Sans', sans-serif;
  margin: 20px;
}

.festbutton {
  background-color: #0b98af;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
}


/* Thankyou page css */

.checkoutbody {
  background-color: #1e9ab0;
  color: white;
  text-align: center;
  padding-top: 25px;
  font-family: 'Nunito Sans', sans-serif;
}

.imagecheckout {
  width: 200;
  height: 236;
}

.imgthumbnai_new {
  background-color: #ee7e1a;
  margin-top: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.checkout-Areyou {
  width: 150px;
  height: 37px;
  /* border-radius: 10px; */
  /* border: solid 1px #ffffff; */
  display: inline-block;
  margin-top: 17px;
  /* margin-bottom: 17px; */
  color: #ffffff;
  padding-left: 30px;
  padding-top: 7px;
  font-family: 'Nunito Sans', sans-serif;
}

.checkout-share {
  width: 130px;
  height: 37px;
  border-radius: 10px;
  border: solid 1px #ffffff;
  display: inline-block;
  margin-top: 17px;
  /* margin-bottom: 17px; */
  color: #ffffff;
  padding-left: 30px;
  padding-top: 7px;
  font-family: 'Nunito Sans', sans-serif;
}

.checkout-titletext {
  width: 315px;
  height: 37px;
  /* border-radius: 10px;
  border: solid 1px #ffffff; */
  display: inline-block;
  margin-top: 17px;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 7px;
  font-family: 'Nunito Sans', sans-serif;
}

.booktickets {
  background-color: #0b98af;
  color: white;
  padding-bottom: 25px;
  padding-top: 45px;
  font-family: 'Nunito Sans', sans-serif;
}

.book-details {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: 15px;
  padding: 15px;
  font-family: 'Nunito Sans', sans-serif;
}

.bookticket_submit {
  width: 170px;
  height: 37px;
  border-radius: 10px;
  border: solid 1px #ffffff;
  display: inline-block;
  margin-top: 17px;
  color: #ffffff;
  margin-top: 12%;
  padding-top: 7px;
  font-family: 'Nunito Sans', sans-serif;
}

.checkout_submit {
  width: 170px;
  height: 37px;
  border-radius: 10px;
  display: inline-block;
  /* margin-top: 17px; */
  color: #ffffff;
  margin-top: 5%;
  padding-top: 7px;
  font-family: 'Nunito Sans', sans-serif;
}


.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.inputNameContainer {
  width: '100%';
  height: auto;
}

.event-title {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: larger;
  margin-top: 6px;
  margin-bottom: 6px;
}

.fontFamily {
  font-family: 'Nunito Sans';
  color: black;
  font-weight: 600;
}

.footerText {
  font-family: 'Nunito Sans';
  color: #fff;
  font-weight: 600;
  font-size: initial;
}

.event-description {
  line-height: 25px;
  text-align: justify;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'Nunito Sans';
  color: black;
  font-weight: 400;
}